.rojo {
    color: #C81D1F;
}

.imagen-fondo {
    background-image: url(../../public/index/index_foto.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}